ack.json
[{"id":"019710d59b450c57","type":"group","z":"b33cbbf26c105ff6","name":"ACK","style":{"label":true},"nodes":["27b55ec4cd4c8ad7","ad6b42a926fa0859","ff2fd3c827b213d4","49c2f3306de5d875","10ce96308a04700e"],"x":34,"y":479,"w":572,"h":162},{"id":"27b55ec4cd4c8ad7","type":"inject","z":"b33cbbf26c105ff6","g":"019710d59b450c57","name":"fe","props":[{"p":"payload"},{"p":"button_press","v":"Stay A","vt":"str"},{"p":"time","v":"$moment(time).tz(\"America/Sao_Paulo\").format('D MMM HH:mm:ss - ') ","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x2b\",\"0xE9\",\"0xFE\",\"0xff\"]","payloadType":"bin","x":130,"y":520,"wires":[["10ce96308a04700e"]]},{"id":"ad6b42a926fa0859","type":"debug","z":"b33cbbf26c105ff6","g":"019710d59b450c57","name":"debug 162","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":560,"wires":[]},{"id":"ff2fd3c827b213d4","type":"inject","z":"b33cbbf26c105ff6","g":"019710d59b450c57","name":"ea","props":[{"p":"payload"},{"p":"button_press","v":"Stay A","vt":"str"},{"p":"time","v":"$moment(time).tz(\"America/Sao_Paulo\").format('D MMM HH:mm:ss - ') ","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x2b\",\"0xE9\",\"0xea\",\"0xff\"]","payloadType":"bin","x":130,"y":560,"wires":[["10ce96308a04700e"]]},{"id":"49c2f3306de5d875","type":"inject","z":"b33cbbf26c105ff6","g":"019710d59b450c57","name":"b9","props":[{"p":"payload"},{"p":"button_press","v":"Stay A","vt":"str"},{"p":"time","v":"$moment(time).tz(\"America/Sao_Paulo\").format('D MMM HH:mm:ss - ') ","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x2b\",\"0xE9\",\"0xb9\",\"0xff\"]","payloadType":"bin","x":130,"y":600,"wires":[["10ce96308a04700e"]]},{"id":"10ce96308a04700e","type":"function","z":"b33cbbf26c105ff6","g":"019710d59b450c57","name":"ACK","func":"var i;\nvar buffer;\nvar hex;\nvar erro;\nbuffer = Buffer.from(msg.payload);\nfor (i = 0; i < buffer.length; i++) {\n  if (i == 0) {\n    hex = buffer[i].toString(16);\n  } else {\n    hex = hex + \" \" + buffer[i].toString(16);\n  }\n}\nerro = \"Erro desconhecido \\\"\" + hex.toUpperCase() + \"\\\"\"\n\n       const states = msg.payload[2];\nconst text = {\n    0xFE: 'Comando recebido com sucesso',\n    0xE0: 'Formato de pacote inválido',\n    0xE1: 'Senha incorreta',\n    0xE2: 'Comando inválido',\n    0xE3: 'Central não particionada',\n    0xE4: 'Zonas abertas',\n    0xE5: 'Comando descontinuado',\n    0xE6: 'Usuário sem permissão para bypass',\n    0xE7: 'Usuário sem permissão para desativar',\n    0xE8: 'Bypass não permitido com a central ativada',\n    0xEA: 'Partição sem zonas habilitadas'\n    };\n\nconst result = text.hasOwnProperty(states) ? text[states] : erro\nconsole.log(msg.time + \"[AMT] Comando enviado: \" + msg.button_press + \", ACK: \" + result);\nmsg.payload = result;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":560,"wires":[["ad6b42a926fa0859"]]}]