Redgtech_32_CH.json
[{"id":"a9d03550f15f1220","type":"tab","label":"Redgtech 32 CH","disabled":false,"info":"","env":[]},{"id":"2fa87b662f22c1ad","type":"group","z":"a9d03550f15f1220","name":"Ativar esse nó","style":{"stroke":"#ff0000","fill":"#ffff7f","label":true,"label-position":"n","color":"#ff0000"},"nodes":["8552a3973c2ddf20"],"x":54,"y":139,"w":192,"h":82},{"id":"6b9dc2bb721df13d","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 03","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"6104f1b8636e5db1","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"3","valueType":"num"}],"x":1110,"y":300,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"45f7c94a2637bb97","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 04","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"def7f4ea7bb6bba8","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"4","valueType":"num"}],"x":1110,"y":360,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"8552a3973c2ddf20","type":"inject","z":"a9d03550f15f1220","d":true,"g":"2fa87b662f22c1ad","name":"Status","props":[{"p":"url","v":"\"http://\" & $flowContext(\"ip\") & \"/L\"","vt":"jsonata"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"","x":160,"y":180,"wires":[["bad637065271bd0c","2167e658f5aa33e0"]]},{"id":"bad637065271bd0c","type":"http request","z":"a9d03550f15f1220","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":560,"y":1080,"wires":[["76e3744002f30d18"]]},{"id":"76e3744002f30d18","type":"json","z":"a9d03550f15f1220","name":"","property":"payload","action":"obj","pretty":false,"x":730,"y":1080,"wires":[["1925bda54d162d18","2167e658f5aa33e0"]]},{"id":"1925bda54d162d18","type":"function","z":"a9d03550f15f1220","name":"function 2","func":"// Não alterar\n\nconst messages = [];\n\n// Gerar a string flow.output_off\nflow.set(\n    \"output_off\",\n    Array.from({ length: node.outputCount }, (_, i) => `?${i + 1}d`).join(\"\")\n);\n\n// Gerar a string flow.output_on\nflow.set(\n    \"output_on\",\n    Array.from({ length: node.outputCount }, (_, i) => `?${i + 1}l`).join(\"\")\n);\n\nfor (var i = 1; i <= node.outputCount; i++) {\n    var msgCopy = { ...msg }; // Criando uma cópia do objeto msg\n    msgCopy.enable = Boolean(Number(msg.payload[\"AC\" + i]));\n    messages.push(msgCopy);\n}\ndelete msg.payload;\nnode.send(messages);\n// Não alterar","outputs":32,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1080,"wires":[["2539fcf24d67daec"],["29831146f5813af7"],["6b9dc2bb721df13d"],["45f7c94a2637bb97"],["399c3c3b325ba531"],["cd3c441892420e80"],["82722f3685970788"],["ee3bbee4138ada33"],["5c046b397e4b942b"],["7b0bbb6a46b72a44"],["200db2332b696d04"],["53080c674e5f347b"],["c82edf12a0c2f0f5"],["dbd7a27c328f7383"],["032de0ec0e142c9f"],["ec6c5d60c0121189"],["9f79d00ad8a8ebc7"],["98d87f996e92d8ce"],["2ddc773ee081ee70"],["6e6d5dfb58bc0840"],["09a97ae12fdf12ff"],["7cd18cc4bd11be1f"],["14c33ae7c11cf9e4"],["90fbd135a0920ce8"],["67dd52ca1f098ec5"],["82a2d03c7b4afae4"],["204c526427a1240d"],["a1a6c4a7dcd12c12"],["17bbc3997a7b7e4f"],["68dd3511e5d23392"],["7adb9e6c520e2761"],["770e57a2f194be65"]],"outputLabels":["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32"]},{"id":"2167e658f5aa33e0","type":"debug","z":"a9d03550f15f1220","name":"Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":980,"wires":[]},{"id":"82722f3685970788","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 07","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"11105871c33c5417","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"7","valueType":"num"}],"x":1110,"y":540,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"ee3bbee4138ada33","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 08","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"97b061a031aed6c4","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"8","valueType":"num"}],"x":1110,"y":600,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"399c3c3b325ba531","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 05","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"2e6481373321e53b","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"5","valueType":"num"}],"x":1110,"y":420,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"cd3c441892420e80","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 06","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"2bc52a99d57448a1","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"6","valueType":"num"}],"x":1110,"y":480,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"200db2332b696d04","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 11","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"1530b53980eb0809","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"11","valueType":"num"}],"x":1110,"y":780,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"ec6c5d60c0121189","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 16","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"aca938309b2a1076","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"16","valueType":"num"}],"x":1110,"y":1080,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"c82edf12a0c2f0f5","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 13","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"cf44a4fe7bc9bc03","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"13","valueType":"num"}],"x":1110,"y":900,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"032de0ec0e142c9f","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 15","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"cfed0b52c8c98d54","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"15","valueType":"num"}],"x":1110,"y":1020,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"dbd7a27c328f7383","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 14","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"d01027b25ff905dd","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"14","valueType":"num"}],"x":1110,"y":960,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"53080c674e5f347b","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 12","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"7b2b285efdaed632","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"12","valueType":"num"}],"x":1110,"y":840,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"88930e10331c0a40","type":"ha-button","z":"a9d03550f15f1220","name":"Desligar Todos","version":0,"debugenabled":false,"outputs":1,"entityConfig":"7f678677452bdf49","outputProperties":[{"property":"url","propertyType":"msg","value":"\"http://\" & $flowContext(\"ip\") & \"/\" & $flowContext(\"output_off\")","valueType":"jsonata"}],"x":1140,"y":120,"wires":[["8cfcc055f8624fd4","c2b47ae1f74cce8f"]]},{"id":"2539fcf24d67daec","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 01","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"b03f92d96d447d2c","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"1","valueType":"num"}],"x":1110,"y":180,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"29831146f5813af7","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 02","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"43eef7d5ae089d84","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"2","valueType":"num"}],"x":1110,"y":240,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"5c046b397e4b942b","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 09","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"d70a544bf1a77baf","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"9","valueType":"num"}],"x":1110,"y":660,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"7b0bbb6a46b72a44","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 10","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"0db6555b3639b5f5","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"10","valueType":"num"}],"x":1110,"y":720,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"8cfcc055f8624fd4","type":"http request","z":"a9d03550f15f1220","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1960,"y":1100,"wires":[["c2b47ae1f74cce8f"]]},{"id":"c2b47ae1f74cce8f","type":"debug","z":"a9d03550f15f1220","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2140,"y":1100,"wires":[]},{"id":"20b104fd89a5c55d","type":"function","z":"a9d03550f15f1220","name":"Criar comando","func":"// Não alterar\nvar comando;\nvar ip = flow.get(\"ip\");\n\nif (msg.payload == true){\ncomando = \"l\";\n} else if (msg.payload == false){\ncomando = \"d\";\n\n}\n\n// msg.url  = \"http://\" + msg.ip + \"?\" + msg.output + comando;\nmsg.url  = \"http://\" + ip + \"/?\" + msg.output + comando;\nreturn msg;\n\n// Não alterar","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1100,"wires":[["8cfcc055f8624fd4","518a3ee6e0ff390d"]]},{"id":"9f79d00ad8a8ebc7","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 17","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"16ee94a597055759","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"17","valueType":"num"}],"x":1110,"y":1140,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"98d87f996e92d8ce","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 18","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"57ea5e4a8f5701ce","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"18","valueType":"num"}],"x":1110,"y":1200,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"2ddc773ee081ee70","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 19","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"c0635507dcb8d6d7","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"19","valueType":"num"}],"x":1110,"y":1260,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"6e6d5dfb58bc0840","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 20","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"e34d72414b045dee","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"20","valueType":"num"}],"x":1110,"y":1320,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"09a97ae12fdf12ff","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 21","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"b064caca9e97bdaf","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"21","valueType":"num"}],"x":1110,"y":1380,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"7cd18cc4bd11be1f","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 22","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"385dfcd60825264d","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"22","valueType":"num"}],"x":1110,"y":1440,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"14c33ae7c11cf9e4","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 23","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"761800e55c560577","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"23","valueType":"num"}],"x":1110,"y":1500,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"90fbd135a0920ce8","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 24","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"2683f89a4c61cd3c","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"24","valueType":"num"}],"x":1110,"y":1560,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"67dd52ca1f098ec5","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 25","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"61a2c5f0d5c6bcc4","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"25","valueType":"num"}],"x":1110,"y":1620,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"82a2d03c7b4afae4","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 26","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"d3ee56fea4592003","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"26","valueType":"num"}],"x":1110,"y":1680,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"204c526427a1240d","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 27","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"c51a36d69d09936d","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"27","valueType":"num"}],"x":1110,"y":1740,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"a1a6c4a7dcd12c12","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 28","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"905d331292c9c550","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"28","valueType":"num"}],"x":1110,"y":1800,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"17bbc3997a7b7e4f","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 29","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"3cd4b6d8186fdbf4","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"29","valueType":"num"}],"x":1110,"y":1860,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"68dd3511e5d23392","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 30","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"943b7ffd302a0ea2","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"30","valueType":"num"}],"x":1110,"y":1920,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"7adb9e6c520e2761","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 31","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"1e6a2c24fe405175","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"31","valueType":"num"}],"x":1110,"y":1980,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"770e57a2f194be65","type":"ha-switch","z":"a9d03550f15f1220","name":"Rele 32","version":0,"debugenabled":false,"inputs":1,"outputs":2,"entityConfig":"d1e212b5e1a2278e","enableInput":true,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"output","propertyType":"msg","value":"32","valueType":"num"}],"x":1110,"y":2040,"wires":[["20b104fd89a5c55d"],["20b104fd89a5c55d"]]},{"id":"07aeeb03433f6d18","type":"inject","z":"a9d03550f15f1220","name":"ALTERAR O IP","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"","payload":"192.168.0.111","payloadType":"str","x":180,"y":60,"wires":[["ac085316055e1a95"]]},{"id":"fcee9dad86930ec5","type":"debug","z":"a9d03550f15f1220","name":"IP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":60,"wires":[]},{"id":"ac085316055e1a95","type":"change","z":"a9d03550f15f1220","name":"","rules":[{"t":"set","p":"ip","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":60,"wires":[["fcee9dad86930ec5"]]},{"id":"958c713f587e2efd","type":"ha-button","z":"a9d03550f15f1220","name":"Ligar Todos","version":0,"debugenabled":false,"outputs":1,"entityConfig":"04b3abb51d74c957","outputProperties":[{"property":"url","propertyType":"msg","value":"\"http://\" & $flowContext(\"ip\") & \"/\" & $flowContext(\"output_on\")","valueType":"jsonata"}],"x":1130,"y":60,"wires":[["c2b47ae1f74cce8f","8cfcc055f8624fd4"]]},{"id":"518a3ee6e0ff390d","type":"debug","z":"a9d03550f15f1220","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2140,"y":1180,"wires":[]},{"id":"6104f1b8636e5db1","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 03","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 03"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"def7f4ea7bb6bba8","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 04","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 04"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"11105871c33c5417","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 07","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 07"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"97b061a031aed6c4","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 08","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 08"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"2e6481373321e53b","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 05","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 05"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"2bc52a99d57448a1","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 06","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 06"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"1530b53980eb0809","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 11","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 11"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"aca938309b2a1076","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 16","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 16"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"cf44a4fe7bc9bc03","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 13","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 13"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"cfed0b52c8c98d54","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 15","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 15"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"d01027b25ff905dd","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 14","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 14"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"7b2b285efdaed632","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 12","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 12"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"7f678677452bdf49","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Desligar Todos","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Desligar Todos"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"b03f92d96d447d2c","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 01","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 01"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"43eef7d5ae089d84","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 02","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 02"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"d70a544bf1a77baf","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 09","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 09"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"0db6555b3639b5f5","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 10","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Rele 10"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"16ee94a597055759","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 17","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 17"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"57ea5e4a8f5701ce","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 18","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 18"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"c0635507dcb8d6d7","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 19","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 19"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"e34d72414b045dee","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 20","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 20"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"b064caca9e97bdaf","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 21","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 21"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"385dfcd60825264d","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 22","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 22"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"761800e55c560577","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 23","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 23"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"2683f89a4c61cd3c","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 24","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 24"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"61a2c5f0d5c6bcc4","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 25","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 25"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"d3ee56fea4592003","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 26","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 26"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"c51a36d69d09936d","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 27","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 27"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"905d331292c9c550","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 28","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 28"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"3cd4b6d8186fdbf4","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 29","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 29"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"943b7ffd302a0ea2","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 30","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 30"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"1e6a2c24fe405175","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 31","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 31"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"d1e212b5e1a2278e","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Rele 32","version":6,"entityType":"switch","haConfig":[{"property":"name","value":"Rele 32"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"04b3abb51d74c957","type":"ha-entity-config","server":"c5d2f580.24a068","deviceConfig":"5782a31a4c10f764","name":"Ligar Todos","version":6,"entityType":"button","haConfig":[{"property":"name","value":"Ligar Todos"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"c5d2f580.24a068","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"5782a31a4c10f764","type":"ha-device-config","name":"Redgtech 32 CH","hwVersion":"","manufacturer":"Node-RED","model":"Redgtech 32 CH","swVersion":""}]