ultimo sensor a detectar movimento.json
[{"id":"0f4c39d3c9763006","type":"group","z":"b33cbbf26c105ff6","name":"Ultimo Movimento","style":{"label":true},"nodes":["775853b1e738ad08","a63d9429ae4650f6","384428d7174363f5","8cb45a0160296665","830d01d53e1488b2","9ea57d35fcf7b4e3","9c37599e72900527","bf71fa48b86fcd4e","aa64aa4f55c63140","803ec6b9635240a3"],"x":34,"y":4779,"w":872,"h":342},{"id":"775853b1e738ad08","type":"debug","z":"b33cbbf26c105ff6","g":"0f4c39d3c9763006","name":"debug 462","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":4900,"wires":[]},{"id":"a63d9429ae4650f6","type":"server-state-changed","z":"b33cbbf26c105ff6","g":"0f4c39d3c9763006","name":"","server":"33803899.487d48","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":[],"substring":[],"regex":["binary_sensor\\.\\w+_(mmw_)?presence"]},"outputInitially":true,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"current","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":260,"y":5000,"wires":[["bf71fa48b86fcd4e"],[]]},{"id":"384428d7174363f5","type":"debug","z":"b33cbbf26c105ff6","g":"0f4c39d3c9763006","name":"debug 463","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":5080,"wires":[]},{"id":"8cb45a0160296665","type":"ha-sensor","z":"b33cbbf26c105ff6","g":"0f4c39d3c9763006","name":"Last motion","entityConfig":"c12745f5dfaab82e","version":0,"state":"current.new_state.attributes.friendly_name","stateType":"msg","attributes":[{"property":"Anterior","value":"last.state","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":330,"y":4900,"wires":[["775853b1e738ad08"]]},{"id":"830d01d53e1488b2","type":"ha-sensor","z":"b33cbbf26c105ff6","g":"0f4c39d3c9763006","name":"Last presence","entityConfig":"125a81eae2643bfe","version":0,"state":"current.new_state.attributes.friendly_name","stateType":"msg","attributes":[{"property":"Anterior","value":"last.state","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":340,"y":5080,"wires":[["384428d7174363f5"]]},{"id":"9ea57d35fcf7b4e3","type":"server-state-changed","z":"b33cbbf26c105ff6","g":"0f4c39d3c9763006","name":"","server":"33803899.487d48","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":[],"substring":[],"regex":["binary_sensor\\.(pir_\\w+_occupancy|zona_(?!aberta)\\w+)"]},"outputInitially":true,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"current","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":310,"y":4820,"wires":[["9c37599e72900527"],[]]},{"id":"9c37599e72900527","type":"api-current-state","z":"b33cbbf26c105ff6","g":"0f4c39d3c9763006","name":"","server":"33803899.487d48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.last_motion","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"last","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":4820,"wires":[["aa64aa4f55c63140"]]},{"id":"bf71fa48b86fcd4e","type":"api-current-state","z":"b33cbbf26c105ff6","g":"0f4c39d3c9763006","name":"","server":"33803899.487d48","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.last_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"last","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":640,"y":5000,"wires":[["803ec6b9635240a3"]]},{"id":"aa64aa4f55c63140","type":"function","z":"b33cbbf26c105ff6","g":"0f4c39d3c9763006","name":"function 145","func":"\n\n // lavanderia\n\n// current.new_state.attributes.friendly_name //sala\n\nif (msg.last.state == msg.current.new_state.attributes.friendly_name){\nmsg.last.state = flow.get(\"last_motion\");\n\n} else {\n    flow.set(\"last_motion\", msg.last.state);\n    \n}\n\n\n\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":4900,"wires":[["8cb45a0160296665"]]},{"id":"803ec6b9635240a3","type":"function","z":"b33cbbf26c105ff6","g":"0f4c39d3c9763006","name":"function 146","func":"\n\n // lavanderia\n\n// current.new_state.attributes.friendly_name //sala\n\nif (msg.last.state == msg.current.new_state.attributes.friendly_name){\nmsg.last.state = flow.get(\"last_presence\");\n\n} else {\n    flow.set(\"last_presence\", msg.last.state);\n    \n}\n\n\n\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":5080,"wires":[["830d01d53e1488b2"]]},{"id":"33803899.487d48","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"c12745f5dfaab82e","type":"ha-entity-config","server":"33803899.487d48","deviceConfig":"","name":"Last motion","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Last motion"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"125a81eae2643bfe","type":"ha-entity-config","server":"33803899.487d48","deviceConfig":"","name":"Last presence","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Last presence"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false}]