Z2M Scene Button.json
[{"id":"b9c6d653625962ad","type":"group","z":"b33cbbf26c105ff6","name":"Z2M Scene Button","style":{"label":true},"nodes":["dc4e81a92639a6af","07788312313a30ac","2ef1cb50f969918f","93bb27d8650a0756","2db40cc587d382ef","6933a4fdc19f4a7c","7c3f6c1cbaf765dc","f29b19dfdfc4783a","bacd77c753221ba5","5744b7db8a5381ca","d82f3bbaf6cd52b8","83b3fbd89f2102d8","04e6d3d3f3e1501c","171f51c7db41ed08","dd215bb4d8ffac81","9d1e8c835e1d6a8c","75a58011a49c9328","fb72c9b26519e1e3"],"x":34,"y":5159,"w":852,"h":522},{"id":"dc4e81a92639a6af","type":"server-state-changed","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"","server":"33803899.487d48","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["event.scene_varanda_action"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":5420,"wires":[["07788312313a30ac","2ef1cb50f969918f","9d1e8c835e1d6a8c","75a58011a49c9328","fb72c9b26519e1e3"]]},{"id":"07788312313a30ac","type":"debug","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":5200,"wires":[]},{"id":"2ef1cb50f969918f","type":"function","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"Button 1","func":"// Inicializa as saídas\nlet outputs = [null, null, null];\n\nlet eventType = msg.data.new_state.attributes.event_type;\n\nif (eventType === \"1_single\") {\n    outputs[0] = msg; // Saída para single\n} else if (eventType === \"1_double\") {\n    outputs[1] = msg; // Saída para double\n} else if (eventType === \"hold\" && msg.data.new_state.attributes.button === \"1\") {\n    outputs[2] = msg; // Saída para hold do botão 1\n}\n\nreturn outputs;\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":5240,"wires":[["93bb27d8650a0756"],["2db40cc587d382ef"],["6933a4fdc19f4a7c"]],"outputLabels":["1 Single","1 Double","1 Hold"]},{"id":"93bb27d8650a0756","type":"debug","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":5200,"wires":[]},{"id":"2db40cc587d382ef","type":"debug","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":5240,"wires":[]},{"id":"6933a4fdc19f4a7c","type":"debug","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":5280,"wires":[]},{"id":"7c3f6c1cbaf765dc","type":"debug","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":5320,"wires":[]},{"id":"f29b19dfdfc4783a","type":"debug","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":5360,"wires":[]},{"id":"bacd77c753221ba5","type":"debug","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":5400,"wires":[]},{"id":"5744b7db8a5381ca","type":"debug","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":5440,"wires":[]},{"id":"d82f3bbaf6cd52b8","type":"debug","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":5480,"wires":[]},{"id":"83b3fbd89f2102d8","type":"debug","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":5520,"wires":[]},{"id":"04e6d3d3f3e1501c","type":"debug","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":5560,"wires":[]},{"id":"171f51c7db41ed08","type":"debug","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":5600,"wires":[]},{"id":"dd215bb4d8ffac81","type":"debug","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":5640,"wires":[]},{"id":"9d1e8c835e1d6a8c","type":"function","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"Button 2","func":"// Inicializa as saídas\nlet outputs = [null, null, null];\n\nlet eventType = msg.data.new_state.attributes.event_type;\n\nif (eventType === \"2_single\") {\n    outputs[0] = msg; // Saída para single\n} else if (eventType === \"2_double\") {\n    outputs[1] = msg; // Saída para double\n} else if (eventType === \"hold\" && msg.data.new_state.attributes.button === \"2\") {\n    outputs[2] = msg; // Saída para hold do botão 2\n}\n\nreturn outputs;\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":5360,"wires":[["7c3f6c1cbaf765dc"],["f29b19dfdfc4783a"],["bacd77c753221ba5"]],"outputLabels":["2 Single","2 Double","2 Hold"]},{"id":"75a58011a49c9328","type":"function","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"Button 3","func":"// Inicializa as saídas\nlet outputs = [null, null, null];\n\nlet eventType = msg.data.new_state.attributes.event_type;\n\nif (eventType === \"3_single\") {\n    outputs[0] = msg; // Saída para single\n} else if (eventType === \"3_double\") {\n    outputs[1] = msg; // Saída para double\n} else if (eventType === \"hold\" && msg.data.new_state.attributes.button === \"3\") {\n    outputs[2] = msg; // Saída para hold do botão 3\n}\n\nreturn outputs;\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":5480,"wires":[["5744b7db8a5381ca"],["d82f3bbaf6cd52b8"],["83b3fbd89f2102d8"]],"outputLabels":["3 Single","3 Double","3 Hold"]},{"id":"fb72c9b26519e1e3","type":"function","z":"b33cbbf26c105ff6","g":"b9c6d653625962ad","name":"Button 4","func":"// Inicializa as saídas\nlet outputs = [null, null, null];\n\nlet eventType = msg.data.new_state.attributes.event_type;\n\nif (eventType === \"4_single\") {\n    outputs[0] = msg; // Saída para single\n} else if (eventType === \"4_double\") {\n    outputs[1] = msg; // Saída para double\n} else if (eventType === \"hold\" && msg.data.new_state.attributes.button === \"4\") {\n    outputs[2] = msg; // Saída para hold do botão 4\n}\n\nreturn outputs;\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":5600,"wires":[["04e6d3d3f3e1501c"],["171f51c7db41ed08"],["dd215bb4d8ffac81"]],"outputLabels":["4 Single","4 Double","4 Hold"]},{"id":"33803899.487d48","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]